*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
    1. Position
    2. Size
    3. Color
    4. Style (Font, Shape,...)
 */


 /* Internal Common */
.row {
    width: 100%;
    display: inline-flex;
}

.col {
    width: 100%;
    margin: 4px;
}

.col-half {
    width: 50%;
}

.col-fourth {
    width: 25%;
}

.col-third {
    width: 33.33333%;
}

.background-black{
    background-color: black !important;
    color: white !important;
}

.icon-padding{
    padding-right: 16px;
}

.input-text{
    width: 100%;
    font-size: 15px;
    padding: 8px;
}

.mtb-48px{
    margin: 48px 0;
}

.btn {
    font-size: 15px;
    padding: 12px;
    margin: 10px;
    border: 0;
    float: right;
    cursor: pointer;
}

/* Main */
html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
#header{
    width: 100%;
    height: 50px;
    background-color: rgba(17, 17, 17, 1);
    position: fixed;
    top: 0;
    box-shadow:0px 3px 10px 1px rgba(59, 34, 34,0.3) ;
    z-index: 1;
}

#header .menu_btn,
#header .search_btn{
    float: right;
    color: rgb(219, 174, 174);
    position: fixed;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 50px;
    padding: 0 16px;
}

#header .menu_btn:hover{
    color: #000;
    background-color: rgb(219, 174, 174);
}

#header .search_btn:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}

/* Navigation */

#nav{
    display: inline-block;
}

#nav li{
    position: relative;
    left: 100px;
}

#nav>li{
    display: inline-block;
}

ul > img{
    height: 50px;
    width: 100px;
    box-sizing: content-box;
    position: absolute;
}

#nav .subnav{
    list-style-type: none;
    position: absolute;
    min-width: 150px;
    background-color: rgb(240, 227, 227);
    box-shadow: 0 0 10px rgba(0,0, 0, 0.25) ;
    display: none;
}

#nav .subnav > li > a{
    color: rgb(0, 0, 0);
    width: 100%;
    line-height: 40px;
    text-transform: none;
    position: relative;
    left: -100px;
}

#nav li a{
    color: rgb(219, 174, 174);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    padding: 0px 16px;
    text-transform: uppercase;
}

#nav >li:hover > a{
    background-color: rgb(219, 174, 174);
    color: black !important;
    display: inline-block;
}

#nav >li:hover .subnav{
    display: block;
}

.subnav > li:hover > a{
    background-color: #ccc;
    display: block;
}

/* slider */

#slider{
    margin-top: 50px;
    max-height: 600px;
    position: relative;
}

.slide{
    display: block;
}

 #slide1{
    padding-top: 45%;
    background-position: top center ;
    background-image: url('/My_Favorite_BP/assets/img/BP_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*#slide2{
    padding-top: 45%;
    background-position: top center ;
    background-image: url('/My_Favorite_BP/assets/img/BP_wallpaper1.png');
    background-repeat: no-repeat;
}

#slide3{
    padding-top: 45%;
    background-position: center ;
    background-image: url('/My_Favorite_BP/assets/img/BP_wallpaper2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#slide4{
    padding-top: 45%;
    background-position:bottom center ;
    background-image: url('/My_Favorite_BP/assets/img/BP_wallpaper4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}  */

.text-content{
    position: absolute;
    left: 0;
    right:0;
    bottom: 50px;
    text-align: center;
    color: rgb(255, 231, 231);
}

.text-heading{
    margin-bottom: 40px;
    font-size: 25px;
    text-shadow: 5px 5px 10px black;
}

.text-description{
    font-size: 20px;
    text-shadow: 5px 5px 10px black;
}

.transition{
    animation-name: mymove;
    animation-duration: 2s;
}

@keyframes mymove{
    from{opacity: 0.6;}
    to{opacity: 1;}
}


/* Content */

#content{
    z-index: initial;
}

.content-section{
    width: 800px;
    max-width: 100%;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 112px;
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading{
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0;
    letter-spacing: 4px;
}

.section-sub-heading{
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    margin: 10px 0;
}

.text-about{
    line-height: 1.5;
    margin: 15px 0;
    text-align: justify;
}

.member-name{
    text-align: center;
    margin: 20px 0;
}

.member-picture > a > img{
    border-radius: 25px;
    vertical-align: middle;  
}

.member-picture :hover{
    transform: scale(1.05);
    transition-duration: 500ms; 
    cursor: pointer;
}

.ticket{
    margin-top: 16px;
    margin-bottom: 16px;
    list-style-type: none;
    background-color: white;
    -webkit-background-clip: content-box;
    background-clip: content-box ;
    padding: 0 8px;
}

.ticket-status{
    padding: 12px 32px;
    border: 1px solid rgba(41,41,41,0.5);
    position: relative;
    color: rgba(41,41,41,0.8);
}

.status{
    padding: 4px 8px;
    margin-left: 16px;
    background-color: rgb(245, 82, 22);
    color: #fff !important;
    position: absolute;
    right:16px;
    bottom: 8px;
}

.ticket-remain{
    border-radius: 50%;
    padding: 0px 8px;
    position: absolute;
    right: 40px;
    text-align: center;
    line-height: 24px;
}

.location{
    background-color: white;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.location-image:hover{
    transform: scale(0.99);
    border-radius: 5px;
    transition-duration: 500ms;
}

.tour-information{
    margin:  16px;
}

.tour-heading{
    color: black;
    letter-spacing: 2px;
    margin: 16px 0;
}

.tour-date{
    color: rgba(0, 0, 0, 0.6);
    margin:16px 0;
}

.tour-description{
    color: black;
    margin: 16px 0;
    line-height: 1.4;
}

.btnBuyTicket{
    height: 40px;
    padding: 8px 16px;
    background-color: black;
    color: rgb(219, 174, 174);
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: rgb(219, 174, 174) !important;
    color: black !important;
}

.contact{
    font-size: 18px;
}

.text-format{
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



/* Footer */

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-network{
    font-size: 24px;
    padding: 8px 32px;
}

#footer a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.copyright{
    color: rgba(0, 0, 0, 0.6);
}

#footer a:hover{
    opacity: 0.5;
}

/* Modal */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container{
    width: 900px;
    min-height: 300px;
    max-width: calc(100% - 32px) ;
    position: relative;
    background-color: #fff;
    border: 1px solid rgb(219, 174, 174);
}

.close-icon{
    position: absolute; 
    right: 0;
    padding: 16px;
    color: rgb(219, 174, 174);
    cursor: pointer;
}

.close-icon:hover{
    background-color: rgb(219, 174, 174);
    color: black;
    font-weight: 1000;
}

.modal-header{
    width: 100%;
    padding: 40px 16px;
    background-color: black;
    color:rgb(219, 174, 174) ;
    font-size: 30px;
    text-align: center;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    margin-top: 20px ;
    margin-bottom: 12px;
    cursor: pointer;
}

.modal-input{
    width: 100%;
    font-size: 15px;
    padding: 12px;
}


.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

.modal-buy-ticket{
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    border: none;
    background-color: black;
    color: rgb(219, 174, 174);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.modal-open{
    display: flex;
}

@keyframes modalFadeIn{
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modalFadeOut{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-150px);
    }
}

.modal-container-fade-out{
    animation: modalFadeOut ease-out 0.5s;
}

.modal-container-fade-in{
    animation: modalFadeIn  ease-in 0.5s ;
}
